<div class="jumbotron">
<div class="container-fluid">
  <div class="card conainer-fluid">
    <div class="card-header">
      <h4>Home Coverage</h4>
    </div>
    <div class="card-body row">
      <div class="card text-white bg-info mb-3 col-md-8 col-12" style="max-width: 44rem; float: left;">  
        <div class="card-body">
         <label>Limit</label>
         
        </div>
      </div>

      <div class="card bg-light mb-3 col-md-4 col-12" style="max-width: 30rem; float: right;">  
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="card conainer-fluid">
    <div class="card-header">
      <h4>Shed Coverage</h4>
    </div>
    <div class="card-body row">
      <div class="card text-white bg-info mb-3 col-md-8 col-12" style="max-width: 44rem; float: left;">  
        <div class="card-body">
         <label>Limit</label>
         
        </div>
      </div>

      <div class="card bg-light mb-3 col-md-4 col-12" style="max-width: 30rem; float: right;">  
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

    </div>
  </div>

 
</div>
</div>